@charset "UTF-8";

.jumbotron {
	background-image: url('../img/jumbo.jpg');
	background-size: cover;
	background-size: auto;
	color: white;
	text-shadow: 2px 2px #000000;
}

.tama{
	background-color:#ff80ff;
	width:150; 
	height: 100;
}

